/* LIGHT MANUAL CSS RESET */
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}


/* RE-USED CSS CLASSES */
.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.title__colored {
  font-size: 41px;
  line-height: 100%;
  color: #f9bf3b;
}

.title__big {
  font-size: 80px;
  line-height: 100%;
  color: #fff;
}

.title__medium {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.title__small {
  font-weight: 500;
  font-size: 23px;
  text-align: center;
}

.btn {
  min-width: 315px;
  min-height: 72px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 4px;
  background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
  color: #fff;
  text-align: center;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.yellow-divider {
  margin: 0 auto;
  width: 220px;
  height: 7px;
  background-color: #f9bf3b;
}


/* 1-st SECTION */
.promo {
  /* min-height: 800px; */
  background: url(../images/main_bg.jpg) center center / cover no-repeat;
  padding: 22px 0 53px 0;

  h1 {
    margin-top: 52px;
  }

  h2 {
    margin-top: 12px;
  }

  button {
    margin-top: 75px;
  }
}

.logo__img {
  margin: 0 auto;
}

.logo__text {
  margin-top: 13px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.promo__text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 21px;
  line-height: 133%;
  text-align: center;
  color: #fff;

  span {
    color: #f9bf3b;
    text-transform: uppercase;
  }
}

.poromo__more-text {
  margin-top: 75px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.promo__more-img {
  margin: 10px auto 0 auto;
}


/* 2-nd SECTION */
.intensive {
  /* min-height: 592px; */
  background-color: #efefef;
  padding: 80px 0;

  h2 {
    color: #252525;
  }

  h3 {
    color: #4a4a4a;
  }

  .yellow-divider {
    margin-top: 14px;
  }

  .title__small {
    margin-top: 15px;
  }

}

.intensive__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.intensive__item {
  width: 360px;
}

.intensive__img {
  width: 100%;
}

.intensive__descr {
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 131%;
  text-align: center;
  color: #4a4a4a;
}


/* 3-d SECTION */
.info {
  /* min-height: 564px; */
  padding: 100px 0 140px 0;
  background-color: #0f0b0b;
}

.info__title {
  font-size: 30px;
  color: #f9bf3b;
  text-align: right;
}

.info__img {
  position: absolute;
  top: 93px;
  left: -83px;
  z-index: 1;

  width: 615px;
  height: 351px;
  object-fit: cover;
}

.info__text {
  position: relative;
  z-index: 2;
  margin-top: 19px;
  padding-left: 390px;
  font-weight: 300;
  font-size: 16px;
  text-align: right;
  color: #fff;
}

.info__text.medium {
  font-weight: 500;
}


/* 4-th SECTION */
.skills {
  /* min-height: 450px; */
  background: url(../images/secondary_bg.jpg) center center / cover no-repeat;
  padding: 80px 0 102px 0;

  .title__medium {
    font-weight: 400;
    color: #efefef;
  }

  .yellow-divider {
    margin-top: 12px;
  }

}

.skills__wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.skills__item {
  width: 224px;
}

.skills__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  width: 115px;
  height: 115px;
  background: #f9bf3b;
  border-radius: 100%;
}

.skills__img {
  max-width: 60px;
}

.skills__descript {
  margin-top: 18px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #efefef;
}


/* 5-th SECTION */
.present {
  /* min-height: 613px; */
  background-color: #efefef;
  padding: 80px 0;

  button {
    margin-top: 60px;
  }

}

.present__img {
  margin: 0 auto;
}

.present__text {
  margin-top: 80px;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #252525;
}


/* 6-th SECTION */
.webinar {
  /* min-height: 527px; */
  background-color: #0f0b0b;
  padding: 50px 0;

  .title__medium {
    margin-top: 40px;
    color: #fff;
  }

}

.webinar__img {
  margin: 0 auto;
  width: 500px;
  height: 250px;
  object-fit: cover;
}

.webinar__title {
  margin-top: 20px;
  font-size: 36px;
  color: #f9bf3b;
  line-height: 100%;
}

.webinar__cta {
  margin-top: 20px;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  color: #efefef;
}


/* FOOTER */
.footer {
  background-color: #1a1a1a;
  padding: 58px 0;

  a {
    text-decoration: none;

    color: #888;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
  }

  .underlined {
    text-decoration: underline;
  }

}

.footer__block {
  max-width: 300px;

  margin: 0 auto;
  text-align: center;
  color: #888;

  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}